@font-face {
    font-family: 'Big John';
    src: url('../fonts/big_john-webfont.woff2') format('woff2'),
         url('../fonts/big_john-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-color: #282828;
  height: 100%;
  margin: 0px;
  margin-top: 60px;
  transition-duration: 0.5s;
}
main{
  margin: 0px;
  transition-duration: 0.5s;
  padding: 10px 0px 0px 0px;
}
.flex{
    display: flex;
}
.section{
  width: auto;
  display: block;
}




.content {
  width: auto;
  font-family: source sans pro;
  background-color: #212121;
  color: white;
  padding: 0px 10px 0px 10px;
  overflow: hidden;
  opacity: 1;
}
.background {
  position: fixed;
  width: 100%;
}
p{
  font-size: 26;
  color: white;
  font-family: source sans pro;
  filter: none;
}
.info {
  height: auto;
  text-align: left;
  padding-top: 100px;
  font-family: Big John;
  font-size: 50px;
  background-color: black;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-color: white;
  color: #ffc342;
}

.connect {
  height: auto;
  text-align: left;
  padding-top: 75px;
  font-family: Big John;
  font-size: 50px;
  border-top: 5px;
  border-color: #ffc342;
  background-color: black;
  color: #ffc342;
  margin-bottom: 45px;
}

.header{
  font-family: Big John;
  background-color: black;
  position: fixed;
  padding-top: 20px;
  padding-left: 230px;
  margin-left: -200px;
  margin-bottom: 42px;
  margin-top: -60px;
  text-align: left;
  overflow: hidden;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 42px;
  transition-duration: 0.5s;
  z-index: 2;
  border-bottom: 5px solid;
  border-color: #ffc342;
}
.splash{
  overflow: hidden;
  font-family: Big John;
  font-size: 100px;
  text-align: left;
  padding-top: 20px;
  padding-left: 230px;
  margin-left: 15%;
  margin-bottom: 42px;
  margin-top: -60px;
  width: auto;
  height: auto;
  color: white;
  background:rgba(0,0,0,0.85);
}

.nav{
  overflow: hidden;
  color: #ffc342;
  background-color: black;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 2;
  text-align: center;
}
.pages{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
}


button{
  background-color: #ffc342;
  color: white;
  border: 4px solid;
  border-color: #ffc342;
  transition-duration: 0.25s;
  font-size: 30px;
  font-family: Big John;
  padding: 10px;
}
button:hover{
  background-color: #ffc342;
  color: white;
  border: 4px solid;
  border-color: white;
}
.navbutton{
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  border: none;
  background: transparent;
  width: 50px;
  color: #ffc342;
}




.parallax {
  transition-duration: .25s;
  text-align: center;
  padding-top: 300px;
  color: white;
  font-family: Big John;

  position: relative;
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url("../images/temp.png");
  min-height: 300px;

}

/* Turn off parallax scrolling for tablets and phones.*/
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
    .splash{
      overflow: hidden;
      font-family: Big John;
      font-size: 100px;
      text-align: left;
      padding-top: 20px;
      padding-left: 230px;
      margin-left: -60px;
      margin-bottom: 42px;
      margin-top: -60px;
      width: auto;
      height: auto;
      color: white;
      background:rgba(0,0,0,0.85);
    }
}
